// Define a variable for the button background color
$button-bg: #007bff;

// Define the base button style
.btn {
  display: inline-block;
  border: none;
  border-radius: 4px;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: $button-bg;
  color: #fff;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
  margin-bottom: 8px;
}

// Define hover and focus styles for all buttons
.btn:hover,
.btn:focus {
  background-color: darken($button-bg, 10%);
  color: #fff;
  outline: none;
}

// Define active styles for all buttons
.btn:active {
  background-color: darken($button-bg, 20%);
  outline: none;
}


/* Use Material-UI Typography styles */
.MuiTypography-h1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.167;
  letter-spacing: -0.01562em;
}

.MuiTypography-h2 {
  font-size: 3.75rem;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -0.00833em;
}

.MuiTypography-h3 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.167;
  letter-spacing: 0em;
}

.MuiTypography-h4 {
  font-size: 2.125rem;
  font-weight: 400;
  line-height: 1.235;
  letter-spacing: 0.00735em;
}

.MuiTypography-h5 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0em;
}

.MuiTypography-h6 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}

.MuiTypography-subtitle1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.00938em;
}

.MuiTypography-subtitle2 {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.57;
  letter-spacing: 0.00714em;
}

.MuiTypography-body1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

.MuiTypography-body2 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}

.MuiTypography-caption {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: 0.03333em;
}

.MuiTypography-overline {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 2.66;
  letter-spacing: 0.08333em;
  text-transform: uppercase;
}

